<div class="itemTemplateWrapper">
	<div class="titleContainer">
		<ul>
			<li id="tit" class="title1">Choose Your Sailings:</li>
			<li class="title2">(Pick one for each box)</li>
		</ul>
	</div>

	{{#each this}}

	<div class="listing" id="{{sailing_cruise_line_id}}">

		<img class="sailing_main_img" src={{this.sailing_main_image}}/>

		<div class="lowPrice">
			<p class="startingAt">Starting at:</p>
			<p>${{this.starting_at_price}}</p>
			<div class="triangle"></div>
		</div>


		<div class="listingContent">
			<p class="cruiseLineInfo">{{this.cruise_line_name}} - {{this.cruise_ship_name}}</p>

			<p class="sailingName">{{sailing_name}}</p>

				{{#sailing_options}}
				<div class="datePrice">
					<ul>

						<li class="date dateLi{{../sailing_cruise_line_id}}"><input class="dateInput" type="radio" name="datePrice{{../sailing_cruise_line_id}}"> {{sailing_date}}</li>

						<li class="priceLi">{{this.sailing_price}}</li>
					</ul>
				</div>
				{{/sailing_options}}
		</div>{{!-- end listingContent --}}
	</div>{{!-- end listing --}}
	{{/each}}


	<div class="sailingsTotalContainer">
		<div class="totalText">Your Selected Sailings Total</div>
		<div class="total">
			<span class="sum sum1"></span>
			<span class="sum sum2"></span>
			<span class="sum sum3"></span>
			<h1>$<span id="grandtotal"></span></h1>
			
		</div>
		</div>
	</div>

</div>